.CurrentDataContainer {
  width: 90%;
  color: #fff;
  background: rgba(25, 25, 25, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  border-radius: 5px;
}

.upper {
  display: flex;
  gap: 1.5rem;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-around;
  min-width: 90%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.left span {
  padding-left: 5px;
  font-weight: 200;
}

.date-temp {
  font-size: 30px;
  background-color: rgba(25, 25, 25, 0.8);
  padding: 10px 30px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
}

.lower {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.humidity,
.sunrise,
.sunset {
  font-size: 25px;
  text-align: center;
}

.humidity p,
.sunrise p,
.sunset p {
  font-size: 18px;
}

.sunset {
  text-transform: capitalize;
}

@media (max-width: 500px) {
  .CurrentDataContainer {
    width: 95%;
  }

  .humidity,
  .sunrise,
  .sunset {
    font-size: 20px;
  }

  .humidity p,
  .sunrise p,
  .sunset p {
    font-size: 14px;
  }

  .CurrentDataContainer h6 {
    font-weight: 500;
  }

  .date-temp {
    font-size: 20px;
  }

  .upper {
    gap: 10px;
  }
}
