.OneDayData {
  min-width: 170px;
  background-color: rgba(25, 25, 25, 0.7);
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}

.OneDayData h6 {
  font-size: 20px;
  font-weight: 200;
  background-color: rgba(25, 25, 25, 0.9);
}

.OneDayData p {
  padding-bottom: 5px;
  font-size: 18px;
}

.OneDayData span {
  font-weight: 200;
  text-transform: capitalize;
}
