.input-form {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

input {
  width: 70%;
  font-size: 18px;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #fff;
}

.button {
  width: 20%;
}

.button button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid rgba(0, 255, 234, 0.705);
  border-radius: 5px;
  background-color: rgba(0, 255, 234, 0.705);
  color: #000;
}

button:hover {
  background-color: rgba(0, 255, 191, 0.945);
}

@media (max-width: 500px) {
  .input-form {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
    margin-top: 20px;
  }
}
